* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #F2F2F2;
  height: 100%;
}

.container {

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  max-width: 800px;
  height: 100%;
  
}

header {
  height: 32px;
  margin-top: 8px;
}

header input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 14px;
  text-align: center;
}

main {

  padding: 8px 0;
  flex: 1;
  display: flex;
  width: 100%;
  
}

main div {
  background-color: #F5F5F5;

  border: 1px solid #ddd;
  height: 90%;
  
}

main .users {
  width: 200px;
  height: 100%;
  margin-left: 8px;
  padding: 8px;
}

main .messages {
  flex: 1;
  height: 100%;  
  padding: 8px;
}

footer {
  height: 64px;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  
}

footer input {
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
  text-align: center;
}

footer button {
  width: 100%;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  color: #FFF;
  margin-top: 8px;
}
